<div class="list-group">
  <a  [ngClass]="{'active':isHomePage()}" routerLink="/" class="list-group-item list-group-item-action">
    Ana Sayfa
  </a>
  <a routerLinkActive="active" routerLink="/hakkinda" class="list-group-item list-group-item-action">Hakkmızda</a>
  <a routerLinkActive="active" routerLink="/iletisim" class="list-group-item list-group-item-action">İletişim</a>
  <a routerLinkActive="active" routerLink="/galeri" class="list-group-item list-group-item-action">Galeri</a>
  <a routerLinkActive="active" routerLink="/admin" class="list-group-item list-group-item-action">Admin</a>
</div>
