<H2>Giriş (Reactive Type1)</H2>
<div class="row">
  <div class="col-md-8 offset-md-2">
    <form [formGroup]="loginForm" (ngSubmit)="signIn()">
      <div class="mb-3">
        <label for="userName" class="form-label">User Name:</label>
        <input class="form-control" type="text" formControlName="userName" />
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password:</label>
        <input
          class="form-control"
          type="password"
          formControlName="password"
        />
      </div>

      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          role="switch"
          formControlName="rememberMe"
        />
        <label class="form-check-label" for="rememberMe">Beni Hatırla</label>
      </div>
      <select class="form-select mt-2" formControlName="country">
        <option *ngFor="let item of countryMenu" value="{{ item.value }}">
          {{ item.text }}
        </option>
      </select>

      <button class="btn btn-info mt-2" type="submit">Giriş</button>
    </form>
  </div>
</div>
