<H2>Giriş (Reactive Type1)</H2>
<div class="row">
  <div class="col-md-8 offset-md-2">
    <form [formGroup]="loginForm" (ngSubmit)="signIn()">
      <div class="mb-3">
        <label for="userName" class="form-label">User Name:</label>
        <input class="form-control" type="text" formControlName="userName" />
      </div>

      <div
        class="alert alert-danger"
        *ngIf="
          loginForm.get('userName')?.invalid &&
          (loginForm.get('userName')?.dirty ||
            loginForm.get('userName')?.touched)
        "
      >
        <small
          *ngIf="loginForm.get('userName')?.errors?.['required']"
          style="color: red"
          >Kullanıcı adı alanı zorunludur.</small
        >
      </div>

      <div class="alert alert-info">
        <ul>
          <li>Valid: {{ loginForm.get("userName")?.valid }}</li>
          <li>InValid: {{ loginForm.get("userName")?.invalid }}</li>
          <li>Errors: {{ loginForm.get("userName")?.errors | json }}</li>
          <li>Dirty: {{ loginForm.get("userName")?.dirty }}</li>
          <li>Pristine: {{ loginForm.get("userName")?.pristine }}</li>
          <li>Touched: {{ loginForm.get("userName")?.touched }}</li>
          <li>UnTouched: {{ loginForm.get("userName")?.untouched }}</li>
          <li>Value: {{ loginForm.get("userName")?.value }}</li>
        </ul>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password:</label>
        <input
          class="form-control"
          type="password"
          formControlName="password"
        />
      </div>

      <div
        class="alert alert-danger"
        *ngIf="
          loginForm.get('password')?.invalid &&
          (loginForm.get('password')?.dirty ||
            loginForm.get('password')?.touched)
        "
      >
        <small
          *ngIf="loginForm.get('password')?.errors?.['required']"
          style="color: red"
          >Şifre alanı zorunludur.</small
        >
        <small
          *ngIf="loginForm.get('password')?.errors?.['minlength']"
          style="color: red"
          >Şifre alanı en az 4 karekter olabilir.</small
        >
      </div>

      <div class="alert alert-info">
        <ul>
          <li>Valid: {{ loginForm.get("password")?.valid }}</li>
          <li>InValid: {{ loginForm.get("password")?.invalid }}</li>
          <li>Errors: {{ loginForm.get("password")?.errors | json }}</li>
          <li>Dirty: {{ loginForm.get("password")?.dirty }}</li>
          <li>Pristine: {{ loginForm.get("password")?.pristine }}</li>
          <li>Touched: {{ loginForm.get("password")?.touched }}</li>
          <li>UnTouched: {{ loginForm.get("password")?.untouched }}</li>
          <li>Value: {{ loginForm.get("password")?.value }}</li>
        </ul>
      </div>

      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          role="switch"
          formControlName="rememberMe"
        />
        <label class="form-check-label" for="rememberMe">Beni Hatırla</label>
      </div>
      <select class="form-select mt-2" formControlName="country">
        <option *ngFor="let item of countryMenu" value="{{ item.value }}">
          {{ item.text }}
        </option>
      </select>

      <div class="form-check" *ngFor="let item of genderMenu">
        <input
          formControlName="gender"
          class="form-check-input"
          type="radio"
          [value]="item.value"
        />
        <label class="form-check-label" for="flexRadioDefault1">
          {{ item.text }}
        </label>
      </div>

      <button class="btn btn-info mt-2" type="submit">Giriş</button>
    </form>
  </div>
</div>
