<div class="alert alert-primary" role="alert">
  A simple primary alert—check it out!
</div>

<form #saveForm="ngForm" (ngSubmit)="save(saveForm)">
  <label for="userName">User Name:</label>
  <input #userNameInput="ngModel" type="text" name="userName" id="userName" [ngModel]="loginModel.userName" required="">
<div *ngIf="userNameInput.invalid && (userNameInput.dirty || userNameInput.touched)">
  <small *ngIf="userNameInput.errors?.['required']" style="color: red;">Kullanıcı adı alanı zorunludur.</small>
</div>



  <div style="border: 1px solid red; padding:10px">
    <ul>
      <li>Valid: {{userNameInput.valid}}</li>
      <li>InValid: {{userNameInput.invalid}}</li>
      <li>Errors: {{userNameInput.errors|json}}</li>
      <li>Dirty: {{userNameInput.dirty}}</li>
      <li>Pristine: {{userNameInput.pristine}}</li>
      <li>Touched: {{userNameInput.touched}}</li>
      <li>UnTouched: {{userNameInput.untouched}}</li>
      <li>Value: {{userNameInput.value}}</li>
    </ul>
  </div>

  <br>

  <label for="password">Password:</label>
  <input [ngClass]="{invalidRed:isValid(userPasswordInput.control),validGreen:isSuccessValid(userPasswordInput.control)}" #userPasswordInput="ngModel" type="password" name="password" id="password" [ngModel]="loginModel.password" required="" minlength="4" >


  <div *ngIf="userPasswordInput.invalid && (userPasswordInput.dirty || userPasswordInput.touched)">
    <small *ngIf="userPasswordInput.errors?.['required']" style="color: red;">Şifre alanı zorunludur.</small>
    <small *ngIf="userPasswordInput.errors?.['minlength']" style="color: red;">Şifre alanı en az 4 karekter olabilir.</small>
  </div>

  <div style="border: 1px solid red; padding:10px">
    <ul>
      <li>Valid: {{userPasswordInput.valid}}</li>
      <li>InValid: {{userPasswordInput.invalid}}</li>
      <li>Errors: {{userPasswordInput.errors|json}}</li>
      <li>Dirty: {{userPasswordInput.dirty}}</li>
      <li>Pristine: {{userPasswordInput.pristine}}</li>
      <li>Touched: {{userPasswordInput.touched}}</li>
      <li>UnTouched: {{userPasswordInput.untouched}}</li>
      <li>Value: {{userPasswordInput.value}}</li>
    </ul>
  </div>

  <br>

  <label for="rememberMe">Beni hatırla</label>
 <input type="checkbox" name="rememberMe" [ngModel]="loginModel.rememberMe">
  <br>

  <!-- <label for="country">Ülke</label> -->
  <!-- <select name="country" [(ngModel)]="loginModel.country" (ngModelChange)="countryChange($event)">
<option *ngFor="let item of countryMenu" value="{{item.value}}">{{item.text}}</option>
  </select> -->
  <!-- <br>
  <div *ngFor="let item of genderMenu" >
    <input [ngModel]="loginModel.gender" type="radio" name="gender" [value]="item.value" (ngModelChange)="genderChange($event)">{{item.text}}
  </div>
  <br> -->
  <button type="submit">Kaydet</button>
</form>
